<div class="row gallery">
  <h1 align="center" id="about">About</h1>
  <div class="col-lg-9 col-lg-offset-3">
    <div class="row">
      <div class="col-lg-8">
        <p align="center" style="font-size: 18px">Bitcoin is fast becoming the currency of the present. At the Bay BitHack held in Berkeley, CA, three
        engineers realized the value of bitcoin and the current struggle of donating with them. Inspired to solve this challenge,
        these engineers set off to design a platform to easily help good samaritans continue to do their work without facing the
        challenge of not being able to donate bitcoin, the currency of the future, fast becoming the currency of the present.</p>
      </div>
    </div>
  </div>
</div>