<div class="row grand">
  <h1 align="center" id="features">Features</h1>
  <div class="col-lg-8 col-lg-offset-2 col-md-10">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <h4><i class="fa fa-check-circle"></i> Easily donate</h4>
        <p>If you want to donate but don't have an accepted form of currency on hand, don't worry. As long as you have a
          Coinbase account (you can register for free <a id="register-here" href="http://www.coinbase.com">here</a>) and some bitcoin on hand, you can donate to a
        charity of your choice.</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h4><i class="fa fa-check-circle"></i> Multiple charities</h4>
        <p>Donate to multiple charities on our platform including the Red Cross, Pencils for Promise, Oppia Foundation,
        Khan Academy, and more.</p>
      </div>
      <div class="col-lg-4 col-md-6">
        <h4><i class="fa fa-check-circle"></i> Trending &#128293;</h4>
        <p>See which charities are trending so you can donate to those in need in case of an emergency like a natural
        disaster.</p>
      </div>
    </div>
  </div>
</div>