<div class="row gallery">
  <div class="col-sm-12">
    <h1 align="center">Get Started</h1>
    <p align="center">The premier platform for donating to charities in the United States using bitcoin.</p>
    <div align="center">
      <button class="btn btn-success btn-lg signin-button">Sign in with Coinbase</button>
    </div>
  </div>
</div>