<div class="row grand intro">
  <script>
    CLIENT_ID = "6500d9647dd187c6e8a5ab9a5f8a9b5c58156e67c4eeb4708a9fd1ce64ddda64";

    function signin() {
      console.log("Hi!");
      post_request = "https://www.coinbase.com/oauth/authorize?response_type=code&client_id=CLIENT_ID&redirect_uri=https%3A%2F%2Fbitcoin-for-good.herokuapp.com%2Fdashboard&response_type=code&scope=wallet%3Aaccounts%3Aread";
    }

  </script>
  <div class="col-sm-12">
    <h1 align="center"><i class="fa fa-btc"></i> Bitcoin For Good</h1>
    <h4 align="center">The premier platform for donating to charities in the United States using bitcoin.</h4>
    <div align="center">
      <a href="https://www.coinbase.com/oauth/authorize?response_type=code&client_id=6500d9647dd187c6e8a5ab9a5f8a9b5c58156e67c4eeb4708a9fd1ce64ddda64&redirect_uri=https%3A%2F%2Fbitcoin-for-good.herokuapp.com%2Fdashboard&scope=wallet:accounts:read">
        <button class="btn btn-success btn-lg signin-button">
          Sign in with Coinbase
        </button>
      </a>
    </div>
  </div>
</div>